# environment
NODE_ENV=development
PORT=5000
TRUST_PROXY=false


# request logger(morgan)
LOGGER_LOG_ENABLED=true
LOGGER_LOG_HTTP_FORMAT=combined


# static serve
SERVE_STATIC=true
SERVE_STATIC_PATH=public


# server favicon(requires serve static to be enable)
SERVE_FAVICON=false


# body parser
BODY_PARSER_LIMIT=2mb
BODY_PARSER_JSON_TYPE=application/json


# helmet
HELMET_HSTS=false


# mquery
MQUERY_LIMIT=10
MQUERY_MAX_LIMIT=50
